*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-color: goldenrod;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.logo,
.yellow,
.inner-header{
    margin-bottom: 20px;
}
.container{
    margin: 15px auto;
    width: 70%;
}



.logo img{
    height: 50px;
    width: auto;
}

nav ul{font-size: 0;
    
}
nav li{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    color: lightgray;

}

li a{
    text-decoration: none;
    color: lightgray;
}

a:hover{
    color: black;
}

.yellow{
    background: url("img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 20px;

    
}


.box{
    height: 400px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: left;
    position: relative;
   
}
.text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 50%;
    padding: 30px 40px;

}
h1{
    color:white;

}
h5{
    color: gray;
    font-weight: 300;
}
p{
    color: white;

}
.titolo{
    color: black;
    
}
main{
    padding-bottom: 15px;
    margin-top: 10px;
}


.col{
    float: left;
    width: 25%; 
          
}



.big-col{
    
    margin-left: 2%;
    margin-right: 2%;
    width: 46%;
    background-color: rgba(0,0,0,0.2);
    
    
}

.overlay{
    background-color: turquoise;
    width: 100%;
}























footer{
    margin-top: 15px;
    height: 50px;
    text-align: center;


}


.debug .col{
    background-image: url("img/img-1.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    border-radius: 10px;
    
}
.debug .big-col{
    background-image: url("img/banner-2.jpg");
    background-size: cover;
    background-position: center;
    

}

.debug .col-2{
    background-image: url("img/img-5.jpg");
    background-size: cover;
    background-position: center;

}

.debug .yellow{
    height: 400px;
    

    
}

.col-text{
    height: 300px;
    border:2px solid black;
}



