*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-color: goldenrod;
    
}
.clearfix::after{
    content: "";
    clear: both;
   
}
.logo,
.yellow,
.inner-header{
    margin-bottom: 20px;
}
.container{
    margin: 15px auto;
    width: 70%;
}






.logo img{
    height: 50px;
    width: auto;
}

nav ul{font-size: 0;
    
}
nav li{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    color: lightgray;

}

li a{
    text-decoration: none;
    color: lightgray;
}

a:hover{
    color: black;
}

.yellow{
    background: url("img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 20px;

    
}


.box{
    height: 400px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: left;
    position: relative;
   
}
.text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 50%;
    padding: 30px 40px;

}
h1{
    color:white;

}
h5{
    color: gray;
    font-weight: 300;
}
p{
    color: white;

}
.titolo{
    color: black;
    
}
main{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top: 10px;
        background-color: black;
        
    
}

.col{
    width: auto;
}
.col-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    vertical-align: middle;
    width: 30%;
    padding: 10px;
    
}

.col-container-middle{
    display: flex;
    flex-direction: column; 
    align-items: center;
    vertical-align: middle;
    width: 10%;
    padding: 10px;

}

.big-col img{
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;

}

.col img{
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 10px 0;
}
































footer{
    margin-top: 15px;
    height: 50px;
    text-align: center;


}


.debug .col{
   
    background-color: red;
    height: 150px;
    border-radius: 10px;
    
}
.debug .big-col{
    
    height: 150px;
    

}

.debug .yellow{
    height: 400px;
    

    
}





